<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--HEAD-->
    <head>
        <title>Libreria - Error</title>
    </head>
    <head th:replace="/fragments/head :: head"></head>

    <!--BODY-->
    <body id="error">

        <!--NAVBAR-->
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <!--ERROR-->
        <div style="margin-top: 180px ;">
            <h1 class="masthead-heading mb-0" th:text="${codigo}"></h1>
            <h2 class="masthead-subheading mb-0" th:text="${mensaje == null ? 'Intente nuevamente' : mensaje}"></h2>
            <a href="/inicio" class="btn btn-danger btn-xl rounded-pill mt-5">Volver</a>
        </div>

        <!--FOOTER-->
        <div class="fixed-bottom">
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
    </body>

</html>
