<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--HEAD-->
    <head>
        <title>Libreria - Editar Perfil</title>
    </head>
    <head th:replace="/fragments/head :: head"></head>

    <!--BODY-->
    <body id="fondoColor">

        <!--NAVBAR-->
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <!--FORM-EDITAR-PERFIL-->
        <form th:action="@{/usuario/actualizar-perfil}" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <h2>Editar Perfil</h2>
            </div>

            <input type="hidden" name="id" th:value="${usuario.id}" />

            <div class="form-group">
                <label id="colorLabel" for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" th:value="${usuario.nombre}">
            </div>
            <div class="form-group">
                <label id="colorLabel" for="apellido">Apellido</label>
                <input type="text" class="form-control" name="apellido" th:value="${usuario.apellido}">
            </div>
            <div th:if="${usuario.foto != null}">
                <img th:src="@{'/foto/usuario/' + ${usuario.id}}" class="rounded float-end" alt="Foto Perfil">
            </div>
            <div class="form-group">
                <label id="colorLabel" for="documento">Documento</label>
                <input type="text" class="form-control" name="documento" th:value="${usuario.documento}">
            </div>

            <div class="form-group">
                <label id="colorLabel" for="telefono">Telefono</label>
                <input type="text" class="form-control" name="telefono" th:value="${usuario.telefono}">
            </div>
            <div class="form-group">
                <label id="colorLabel" for="archivo">Foto</label>
                <input type="file" class="form-control" name="archivo"/>
            </div>
            <div class="form-group">
                <label id="colorLabel">Zona</label>
                <select class="form-control" name="idZona"> 
                    <option th:each="zona : ${zonas}" th:value="${zona.id}" th:text="${zona.nombre}" th:selected="${usuario.zona != null && zona.id == usuario.zona.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label id="colorLabel" for="mail">Email</label>
                <input type="email" class="form-control" name="mail" th:value="${usuario.mail}">
            </div>
            <div class="form-group">
                <label id="colorLabel" for="clave">Contraseña</label>
                <input type="password" class="form-control" name="clave" th:value="${clave}">
            </div>
            <div class="form-group">
                <label id="colorLabel" for="clave2">Repita la contraseña</label>
                <input type="password" class="form-control" name="clave2" th:value="${clave2}">
            </div>

            <div class="form-group2">
                <button type="submit" class="btn btn-dark">Modificar Perfil</button>
                <a class="btn btn-danger" href="/inicio" role="button">Volver</a>
            </div>

        </div>

    </form>

    <!--FOOTER-->
    <footer th:replace="/fragments/footer :: footer"></footer>

</body>

</html>