<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--HEAD-->
    <head>
        <title>Libreria - Modificar Libro</title>
    </head>
    <head th:replace="/fragments/head :: head"></head>

    <!--BODY-->
    <body id="fondoColor">

        <!--NAVBAR-->
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <!--FORM-MODIFICAR-LIBRO-->
        <div>

            <form th:action="@{/libros/modificar/__${libro.id}__}" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <h2>Modificar Libro</h2>
                </div>

                <input hidden th:value="${id}" name="id">

                <div class="form-group">
                    <label id="colorLabel" for="isbn">ISBN</label>
                    <input th:value="${libro.isbn}" type="text" class="form-control" name="isbn">
                    <small class="text-white">El isbn debe contener 14 digitos numericos.</small>
                </div>

                <img th:src="@{'/foto/libro/' + ${libro.id}}" class="rounded float-end" alt="Portada">

                <div class="form-group">
                    <label id="colorLabel" for="titulo">Titulo del Libro</label>
                    <input th:value="${libro.titulo}" type="textarea" class="form-control" name="titulo">
                </div>

                <div class="form-group">
                    <label id="colorLabel" for="descripcion">Descripcion del Libro</label>
                    <input th:value="${libro.descripcion}" type="text" class="form-control" name="descripcion">
                </div>

                <div class="form-group">
                    <label id="colorLabel" for="anio">Año</label>
                    <input th:value="${libro.anio}" type="number" class="form-control" name="anio">
                </div>

                <div class="form-group">
                    <label id="colorLabel" for="ejemplares">Cantidad de ejemplares</label>
                    <input th:value="${libro.ejemplares}" type="number" class="form-control" name="ejemplares">
                </div>

                <div class="form-group">
                    <label id="colorLabel" for="archivo">Foto</label>
                    <input type="file" class="form-control" name="archivo" th:value="${libro.foto}"/>
                </div>

                <div class="form-group">
                    <h2>Autor</h2>
                    <select class="form-control" name="idAutor"> 
                        <option selected disabled value="">Seleccionar</option>
                        <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                    </select>
                    <small class="text-white">Si el autor esta registrado seleccione el nombre</small>
                    <label id="colorLabel" for="nombreAutor">Nombre del autor</label>
                    <input th:value="${libro.autor.nombre}" type="text" class="form-control" name="nombreAutor" maxlength="25">
                    <small class="text-white">Si selecciono autor no completar este campo</small>
                </div>

                <div class="form-group">
                    <h2>Editorial</h2>
                    <select class="form-control" name="idEditorial"> 
                        <option selected disabled value="">Seleccionar</option>
                        <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                    </select>
                    <small class="text-white">Si no esta registrada ingrese el nombre debajo.</small>
                    <label id="colorLabel" for="nombreEditorial">Nombre de la editorial</label>
                    <input th:value="${libro.editorial.nombre}" type="text" class="form-control" name="nombreEditorial" maxlength="25">
                    <small class="text-white">Si selecciono editorial no completar este campo</small>
                </div>

                <div class="form-group2">
                    <button type="submit" class="btn btn-dark">Modificar Libro</button>
                    <a class="btn btn-danger" href="/libros" role="button">Volver</a>
                </div>

            </form>

        </div>

        <!--FOOTER-->
        <footer th:replace="/fragments/footer :: footer"></footer>

    </body>

</html>