<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--HEAD-->
    <head>
        <title>Libreria - Modificar Autor</title>
    </head>
    <head th:replace="/fragments/head :: head"></head>

    <!--BODY-->
    <body id="fondoColor">

        <!--NAVBAR-->
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <!--FORM-MODIFICAR-AUTOR-->
        <div class="centrado">
            <form th:action="@{/autores/modificar/__${autor.id}__}" method="POST">

                <!--<p th:if="${error != null}" th:text="${error}" style="color:red;"></p>-->

                <div class="form-group">
                    <h2>Modificar Autor</h2>
                </div>

                <input hidden th:value="${id}" name="id">

                <div class="form-group">
                    <label id="colorLabel" for="nombre">Nombre del autor</label>
                    <input th:value="${autor.nombre}" type="text" class="form-control" name="nombre" maxlength="25">
                </div>

                <div class="form-group2">
                    <button type="submit" class="btn btn-dark">Modificar Autor</button>
                    <a class="btn btn-warning" href="/autores" role="button">Volver</a>
                </div>

            </form>
            <!--            <div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
                            <div class="card-body">
                                <h5 class="card-title">Exito</h5>
                                <p class="card-text" th:text="${exito}"></p>
                            </div>
                        </div>
            
                        <div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
                            <div class="card-body">
                                <h5 class="card-title">Error</h5>
                                <p class="card-text" th:text="${error}"></p>
                            </div>
                        </div>-->
        </div>

        <!--FOOTER-->        
        <div class="fixed-bottom">
            <footer th:replace="/fragments/footer :: footer"></footer>        
        </div>

    </body>

</html>