<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <title>Libreria - Mostrar Libros</title>
    </head>

    <body id="fondoNegro">
        
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <table class="table table-secondary" style="margin-top: 50px;" border >
            <thead>
                <tr style="text-align: center">
                    <th scope="col" >ID</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Ej.prestados</th>
                    <th scope="col">Ej.restantes</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">¿Activo?</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody th:each="libro : ${libros}">
                <tr style="text-align: center">
                    <th scope="row" th:text="${libro.id}"></th>
                    <td th:text="${libro.isbn}"></td>
                    <td th:text="${libro.titulo}"></td>
                    <td th:text="${libro.anio}"></td>
                    <td th:text="${libro.ejemplares}"></td>
                    <td th:text="${libro.ejemplaresPrestados}"></td>
                    <td th:text="${libro.ejemplaresRestantes}"></td>
                    <td th:text="${libro.autor.nombre}"></td>
                    <td th:text="${libro.editorial.nombre}"></td>
                    
                    <td>
                        <i th:if="${libro.alta}" class="fa fa-circle text-success"></i>
                        <i th:unless="${libro.alta}"   class="fa fa-circle" style="color:red;"></i>
                    </td>
                    <td>
                        <a th:href="@{/libros/alta/__${libro.id}__}"><i class="fa fa-arrow-up"></i></a>
                        <a th:href="@{/libros/baja/__${libro.id}__}"><i class="fa fa-ban"></i></a> 
                        <a th:href="@{/libros/modificar/__${libro.id}__}"><i class="fas fa-feather-alt"></i></a>
                    </td>
                    <!--<td th:text="${libro.alta}"></td>-->

                </tr>
            </tbody>
        </table>

        <div style="margin-bottom: 50px">
            <a href="/libros" class="btn btn-outline-secondary btn-lg btn-block" role="button">Volver</a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    </body>

</html>